@font-face {
    font-family: 'ModernEraMono-Medium';
    src: url('ModernEraMono-Medium.woff') format('woff'),
         url('ModernEraMono-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
