@font-face {
    font-family: 'ModernEra-Light';
    src: url('ModernEra-Light.woff') format('woff'),
         url('ModernEra-Lightc.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
