@font-face {
    font-family: 'ModernEra-MediumItalic';
    src: url('ModernEra-MediumItalic.woff') format('woff'),
         url('ModernEra-MediumItalic.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
