@font-face {
    font-family: 'ModernEra-Black';
    src: url('ModernEra-Black.woff') format('woff'),
         url('ModernEra-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
