@font-face {
    font-family: 'ModernEraMono-Bold';
    src: url('ModernEraMono-Bold.woff') format('woff'),
         url('ModernEraMono-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
