@font-face {
    font-family: 'ModernEra-ExtraBoldItalic';
    src: url('ModernEra-ExtraBoldItalic.woff') format('woff'),
         url('ModernEra-ExtraBoldItalic.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
