@font-face {
    font-family: 'ModernEra-LightItalic';
    src: url('ModernEra-LightItalic.woff') format('woff'),
         url('ModernEra-LightItalic.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
