@font-face {
    font-family: 'ModernEraMono-ExtraBold';
    src: url('ModernEraMono-ExtraBold.woff') format('woff'),
         url('ModernEraMono-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
