@font-face {
    font-family: 'ModernEra-ExtraBold';
    src: url('ModernEra-ExtraBold.woff') format('woff'),
         url('ModernEra-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
