@font-face {
    font-family: 'ModernEra-BlackItalic';
    src: url('ModernEra-BlackItalic.woff') format('woff'),
         url('ModernEra-BlackItalic.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
