@font-face {
    font-family: 'ModernEraMono-Regular';
    src: url('ModernEraMono-Regular.woff') format('woff'),
         url('ModernEraMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
